@import "../../styles/colors";
@import "../../styles/breakpoints";
@import "../../styles/typography";

/* What I Do */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: $color-primary;

  h2 {
    @include h2();
    margin: 2rem 0;
  }

  @include media-breakpoint-up(xl) {
    flex-direction: row;
    align-items: stretch;
  }
}

.articleWrapper {
  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    filter: brightness(calc(100% + var(--lighten-index)));
  }

  @include media-breakpoint-only(lg) {
    flex-direction: column;
  }

  @include media-breakpoint-up(xl) {
    & > div {
      flex-direction: column;

      & > div {
        margin-bottom: 2rem;
      }
    }
  }
}

.article {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  &:not(:last-child) {
    padding-bottom: 0;
  }

  & > div {
    margin-bottom: 2rem;
  }

  svg {
    margin-right: 1rem;
  }

  h3 {
    @include h3();
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 2rem 0;
  }

  p {
    @include p();
    margin: 0 0 1rem 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 75%;
    margin: auto;
  }

  @include media-breakpoint-down(md) {
  }

  @include media-breakpoint-only(md) {
    img {
      max-width: 50%;
    }
  }

  @include media-breakpoint-only(lg) {
    padding: 6rem 4rem;

    img {
      max-width: 400px;
    }
  }

  @include media-breakpoint-up(xl) {
    min-height: 100%;
    padding: 6rem 4rem;

    img {
      margin: auto auto 0 auto;
    }
  }
}
