@import "../../styles/colors";
@import "../../styles/breakpoints";

/* Layout */

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}
