@import "../../styles/colors";
@import "../../styles/breakpoints";

/* Sider */

.container {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  background-color: $color-primary-lighter;
  color: white;

  @include media-breakpoint-down(md) {
    flex-direction: row;
    height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    transition: bottom 500ms ease-out;

    &[data-hidden="true"] {
      bottom: -60px;
    }
  }

  @include media-breakpoint-up(lg) {
    flex-direction: column;
    width: 380px;
    padding: 4rem 4rem 4rem 3rem;
    left: 0;
    bottom: 0;
    top: 0;
  }
}

.menu {
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0;

  @include media-breakpoint-only(xs) {
    justify-content: space-evenly;
  }

  @include media-breakpoint-between(sm, md) {
    justify-content: center;
    flex-direction: row;
  }

  @include media-breakpoint-up(lg) {
    justify-content: center;
    flex-direction: column;
  }
}

.anchor {
  list-style-type: none;
  cursor: pointer;

  a {
    display: flex;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darken($color-white, 25%);

    & * {
      pointer-events: none;
    }

    svg {
      color: darken($color-white, 25%);
    }
  }

  &[data-active="true"] a,
  &:hover a,
  &:focus a {
    color: $color-white;

    svg {
      color: $color-white;
    }
  }

  @include media-breakpoint-down(xs) {
    a {
      padding: 0 10px;

      span {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    svg {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    a {
      height: 100%;
      flex-direction: column;
      justify-content: center;
    }

    &:not(:first-child) {
      margin-left: 2rem;
    }
  }

  @include media-breakpoint-up(lg) {
    a {
      justify-content: flex-end;
      text-align: right;
      padding: 1rem 0;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background: linear-gradient(
          to right,
          $color-primary-lighter,
          lighten($color-primary-lighter, 5%)
        );
      }
    }

    &:not(:first-child) {
      margin-top: 2rem;
    }

    &[data-active="true"] a::after {
      background: linear-gradient(
        to right,
        $color-primary-lighter,
        $color-white
      );
    }
  }
}
