@import "../../styles/colors";
@import "../../styles/breakpoints";
@import "../../styles/typography";

/* Welcome */

.container {
  flex-basis: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;

  background-attachment: fixed;
  background-image: url("/welcome.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: $color-primary;

  h1 {
    @include h1();
    white-space: pre-line;
    margin-bottom: 0;

    span {
      display: inline-block;
    }
  }

  h3 {
    white-space: pre-line;
    @include p-lg();
  }

  img {
    margin: auto;
    max-width: 75%;
  }

  @include media-breakpoint-down(sm) {
    h1 {
      font-size: 2.5rem;
    }
  }

  @include media-breakpoint-up(md) {
    align-items: center;
    justify-content: center;

    h1,
    h3 {
      text-align: center;
    }

    img {
      margin: 2rem auto 0;
      max-width: 60%;
    }
  }

  @include media-breakpoint-up(lg) {
    flex-basis: 100vh;
    padding: 6rem 4rem;
  }

  @include media-breakpoint-up(xl) {
    img {
      max-width: 50%;
    }
  }
}
