@import "../../styles/colors";
@import "../../styles/breakpoints";

/* Main */

.container {
  flex: 1;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(md) {
    // margin-bottom: 60px;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 380px;
  }
}
