@import "../../styles/colors";
@import "../../styles/breakpoints";
@import "../../styles/typography";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 2rem;
  background-color: $color-secondary;
  color: $color-white;

  p {
    @include p();
    margin: 0 0.2rem 0 0;
    color: darken($color-white, 20%);
  }

  .separator {
    display: block;
    background-color: $color-white;
    height: 2.5rem;
    margin-left: 0.5rem;
    margin-right: 0.4rem;
    min-width: 1px;
    width: 1px;
  }

  svg {
    color: $color-primary-lighter !important;
  }

  a {
    font-weight: bold;
  }

  @include media-breakpoint-up(lg) {
    padding: 5rem 4rem;
  }
}
