@import "../../styles/colors";
@import "../../styles/breakpoints";
@import "../../styles/typography";

/* Who Am I */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;

  background-color: $color-secondary;

  hr {
    border: none;
    height: 1px;
    max-width: 700px;
    width: 100%;
    background-color: $color-white;
    margin: 2rem 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 6rem 4rem;
    flex-direction: row;
    align-items: stretch;

    hr {
      display: none;
    }

    img {
      margin-right: 4rem;
    }

    div {
      max-width: 700px;
    }
  }
}

.profilePic {
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100%;
}

.description {
  p {
    @include p();
    margin: 0;

    &:not(:last-child) {
      margin: 0 0 1rem 0;
    }
  }

  @include media-breakpoint-down(md) {
    max-width: 700px;
    margin: 2rem auto 3rem auto;
  }

  @include media-breakpoint-up(lg) {
    margin-right: 4rem;
    flex-basis: 700px;
    flex-shrink: 1;
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  p {
    @include p();
    margin: 0;
    position: relative;
    cursor: pointer;

    b {
      display: none;
    }

    span {
      display: block;
      position: absolute;
      background-color: $color-primary;
      padding: 5px 10px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -130%);
      border-radius: 2px;
      min-width: 125px;
      text-align: center;

      &::after {
        content: "";
        position: absolute;
        border-color: $color-primary transparent;
        border-style: solid;
        border-width: 10px 10px 0px 10px;
        height: 0px;
        width: 0px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
      }
    }
  }
  @include media-breakpoint-down(md) {
    width: 100%;
    max-width: 700px;

    p {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.icon {
  color: $color-primary;
  margin-right: 1rem;
}
