@import "./colors";

@mixin h1($color: $color-white) {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  color: $color;
}

@mixin h2($color: $color-white) {
  font-size: 2rem;
  font-weight: bold;
  color: $color;
}

@mixin h3($color: $color-white) {
  font-size: 1.25rem;
  font-weight: bold;
  color: $color;
}

@mixin p($color: $color-white) {
  color: $color;
  font-size: 1rem;
}

@mixin p-sm($color: $color-white) {
  @include p($color);

  font-size: 0.8rem;
}

@mixin p-lg($color: $color-white) {
  @include p($color);

  font-size: 1.2rem;
}
