@import "sanitize.css";
@import "sanitize.css/forms.css";
@import "sanitize.css/typography.css";

/*
:root {
  --media-xs: 0px;
  --media-sm: 576px;
  --media-md: 768px;
  --media-lg: 1200px;
  --media-xl: 1980px;
}
*/

html {
  min-height: 100vh;
  font-size: 16px;
}

body {
  min-height: 100vh;
}

#__next {
  min-height: 100vh;
  display: flex;
}

a {
  font-weight: bold;
  color: #fefefe;
  text-decoration: none;
}

svg {
  max-width: 24px;
  max-height: 24px;
}
